@model IEnumerable<Restaurant.Models.Entities.Order>

@{
    ViewBag.Title = "پیگری سفارشات";
}
<hr />
<div class="panel">
    <div class="panel-heading text-center border_Title_Basket">
        پیگیری سفارشات
    </div>
    <div class="panel-body">
        @foreach (var item in Model)
        {
            <div class="panel panel-info">
                <div class="panel-heading text-center">
                    مشخصات
                </div>
                <div class="panel-body">
                    <table class="table table-hover table-condensed table-responsive">
                        <tr class="active">
                            <td>
                                کد پیگیری
                            </td>
                            <td>
                                تاریخ و ساعت ثبت
                            </td>
                            <td>
                                تاریخ و ساعت درخواست
                            </td>
                            <th>
                                مبلغ پرداخت
                            </th>
                            <td>
                                وضیعت پرداخت
                            </td>
                            <th></th>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayFor(modelItem => item.Id)
                            </th>
                            <th>
                                @Html.DisplayFor(modelItem => item.OrderDate)
                            </th>
                            <th>
                                @Html.DisplayFor(modelItem => item.Date)
                            </th>
                            <th>
                                @Html.DisplayFor(modelItem => item.TotalPrice)
                            </th>
                            <th>
                                @Html.DisplayFor(modelItem => item.isPay)
                            </th>
                            <th>
                                @Html.ActionLink("نمایش لیست سفارش", "Details", new { id = item.Id })
                            </th>
                        </tr>
                    </table>

                    <div class="panel  panel-success">
                        <div class="panel-heading">
                            <div>
                                نحوه دریافت سفارش : <b>@Html.DisplayFor(modelItem => item.OrderType.Name)</b><br />
                                وضیعت سفارش : <b>@Html.DisplayFor(modelItem => item.OrderStatu.Status)</b> <br />
                                کد تخفیف استفاده شده : <b>@Html.DisplayFor(modelItem => item.DiscountCode)</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>



