@model Restaurant.Models.RegisterViewModel
@{
    ViewBag.Title = "ثبت نام";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4 class="text-info">ساخت یک حساب کاربری جدید</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email,"ایمیل : ", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("شماره تماس : ", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <input type="text" name="PhoneNumber" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password,"گذرواژه : ", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })<h5 class="text-danger">گذرواژه حداقل باید 6 حرف باشد!</h5>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword,"تایید گذرواژه : ", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="ثبت نام" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
