@model Restaurant.Models.Entities.UserAddress

@{
    ViewBag.Title = "حذف";
}
<p class="navbar-left">
    @Html.ActionLink("Back to List", "Index")
</p>
<hr />
<div class="panel">
    <div class="panel-heading text-center border_Title_Basket">
        آدرس ها
    </div>
    <div class="panel-body">
        <h2>حذف</h2>
        <hr />

        <h3 class="text-danger">آیا این آدرس را می خواهید حذف کنی؟</h3>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    آدرس :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Place)
                </dd>

                <dt>
                    پلاک :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Number)
                </dd>

                <dt>
                    واحد :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Unit)
                </dd>

                <dt>
                    طبقه :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Floor)
                </dd>

                <dt>
                    شماره تماس :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Telephone)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="حذف" class="btn btn-danger" />
                </div>
            }
        </div>
    </div>
</div>
