@model Restaurant.Models.Entities.AspNetUser

@{
    ViewBag.Title = "حذف";
}
<p class="navbar-left">
    @Html.ActionLink("برگشت به لیست کاربران", "Index")
</p>
<hr />
<div class="panel">
    <div class="panel-heading text-center border_Title_Basket">
        غذا ها
    </div>
    <div class="panel-body">
        <h2>حذف</h2>
        <hr />
        <p class="text-danger">
            آیا می خواهید این کاربر را حذف کنید؟
        </p>
        <dl class="dl-horizontal">
            <dt>
                ایمیل :
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>


            <dt>
                شماره تماس :
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>

            <dt>
                دسترسی
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AspNetUserRole.RoleId)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="حذف" class="btn btn-danger" />
            </div>
        }
    </div>
