@model Restaurant.Models.Entities.OrderList
@{
    ViewBag.Title = "جزییات";
}
<p class="navbar-left">
    @Html.ActionLink("ویرایش", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("برگشتن به سبد خرید", "Index")
</p>
<hr />
<div class="panel panel-info">
    <div class="panel-heading">
        جزییات
    </div>
    <div class="panel-body">
        <div>

            <dl class="dl-horizontal">
                <dt>
                    نام غذا :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Food.Name)
                </dd>

                <dt>
                    تعداد :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FoodCount)
                </dd>

                <dt>
                    تاریخ :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OrderDate)
                </dd>

                <dt>
                    وضیعت پرداخت :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsPay)
                </dd>

                <dt>
                    توضیحات :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Note)
                </dd>
            </dl>
        </div>
        
    </div>
</div>