@model IEnumerable<Restaurant.Models.Entities.OrderList>
@{
    ViewBag.Title = "سبد خرید";
    
}
<hr />
<div class="panel">
    <div class="panel-heading text-center border_Title_Basket">
        سبد خرید
    </div>
    <div class="panel-body">

        <table class="table table-hover table-condensed table-responsive">
            <tr class="active">
                <th>
                    @*@Html.DisplayNameFor(model => model.FoodCount)*@
                    نام غذا
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.OrderDate)*@
                    تعداد
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.Note)*@
                    تاریخ
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.AspNetUser.Email)
                    </th>*@
                <th>
                    توضیحات
                    @*@Html.DisplayNameFor(model => model.Food.FoodName)*@
                </th>
                <th>
                    قیمت هر کدام
                </th>
                <th>
                    وضیعت پرداخت
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Food.Name)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FoodCount)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderDate)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Note)

                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.AspNetUser.Email)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Food.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsPay)
                    </td>
                    <td>
                        @Html.ActionLink("ویرایش", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("جزییات", "Details", new { id = item.Id }) |
                        @Html.ActionLink("پاک کردن", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

<div class="panel panel-success">
    <div class="panel-heading">
        سفارش
    </div>
    <div class="panel-body">
        <div class="panel">
            <div class="panel-body">
                مجموع قیمت : @ViewBag.SumPrice <br />
                @if (ViewBag.SumPrice != 0)
                {
                <hr />
                <form action="/Order/Way" method="post">
                    @Html.AntiForgeryToken()
                    <input type="submit" value="نهایی کردن سفارش" class="btn btn-success" />
                </form>
                }
            </div>
        </div>
    </div>
</div>