@{
    ViewBag.Title = "رزرو میز و صندلی";
}
<hr />
<div class="panel-heading text-center border_Title_Basket">
    رزرو میز
</div>
<hr />
<div class="panel-heading border_Title_ContactUs text-center">
    توجه : حداقل 20 دقیقه اضافه بر زمان هم اکنون در قسمت تاریخ و ساعت درج نمایید! در غیر این صورت درخواست شما تایید نخواهد شد!<br />
    تعداد غذاهای درخواستی بر زمان تحویل سفارش تاثیر گذار است!<br />
    شما می بایست در زمان تایین شده در رستوران حاظر شوید!
</div>
<hr />
@if (ViewData["Message1"] != null)
{
    <p class="text-success">@ViewData["Message1"]</p><hr />
}
@if (ViewData["Message2"] != null)
{
    <p class="text-danger">@ViewData["Message2"]</p><hr />
}

<div class="panel panel-info">
    <div class="panel-heading">
        شما برای چند نفر می خواهید میز و صندلی رزرو نمایید؟
    </div>
    <div class="panel-body">
        @if (ViewData["Message1"] == null)
        {
            <form action="/Order/ReserveTable" method="post" class="form-inline">
                @Html.AntiForgeryToken()
                تعداد  : <input type="number" name="RestaurantTableCount" value="@ViewData["RestaurantTableCount"]" placeholder="نفر" class="form-control" />
                تاریخ و ساعت : <input type="datetime-local" name="dateTime" value="@ViewData["DateTime"]" class="form-control" />
                <input type="submit" value="تایید" class="btn btn-success" />
            </form>
            <hr />
            <p class="text-info">تاریخ و ساعت هم اکنون : @(DateTime.Now)</p>
            <p class="text-primary">تاریخ و ساعت پیشنهادی : @((DateTime.Now).AddMinutes(20))</p>
        }
        @if (ViewData["Message1"] != null)
        {
            <form action="/Order/Check" method="post" class="form-inline">
                @Html.AntiForgeryToken()
                تعداد  : <input type="text" name="RestaurantTableCount" value="@ViewData["RestaurantTableCount"]" placeholder="نفر" class="form-control" />
                تاریخ و ساعت : <input type="datetime" name="dateTime" value="@ViewData["DateTime"]" placeholder="2016/08/19 21:00" class="form-control" />
                <input type="hidden" name="Way" value="2" />
                <input type="submit" value="رزرو" class="btn btn-success" />
            </form>
        }
    </div>
</div>

